* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #4D4A4A;
}

body {
    background-color: rgb(237, 237, 237);
}

/*
    HEADER
*/
.container-xxl {
    margin-top: 0px;
}

header {
    background-color: rgb(245, 248, 245);
    margin: 0px 166px;
    border-radius: 0px 0px 20px 20px;
    -webkit-box-shadow: 0px 11px 22px -19px rgba(34, 60, 80, 1);
    -moz-box-shadow: 0px 11px 22px -19px rgba(34, 60, 80, 1);
    box-shadow: 0px 11px 22px -19px rgba(34, 60, 80, 1);
}

.logo img {
    height: 94px;
    width: 168px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
    z-index: 2;
}

header ul {
    list-style-type: none;
    margin-bottom: 0rem;
}

.col-6 {
    flex: 1;
    display: flex;
    justify-content: center;
}

header ul li {
    float: left;
    position: relative;
    margin: 0px 30px 0px 30px;
    transition: transform 0.3s ease;
}

header ul li a {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
}

header ul li:hover {
    transform: scale(1.3);
    z-index: 2;
}

header .icons {
    list-style-type: none;
    float: right;
}

.icons {
    position: relative;
}

.icons a img {
    transition: transform 0.3s ease;
}

.icons a img:hover {
    transform: scale(1.3);
    z-index: 2;
}

.icons ul {
    position: absolute;
    top: 47px;
    left: -23px;
    width: 142px;
    z-index: 88888;
    display: none;
    background-color: rgb(245, 248, 245);
    padding: 16px 0px 16px 8px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 11px 22px -19px rgba(34, 60, 80, 1);
    -moz-box-shadow: 0px 11px 22px -19px rgba(34, 60, 80, 1);
    box-shadow: 0px 11px 22px -19px rgba(34, 60, 80, 1);
}

.icons a:hover+.submenu,
.icons .submenu:hover {
    display: block;
}

.icons ul li:nth-child(1) {
    top: 0px;
}

.icons ul li:nth-child(2) {
    top: 5px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col-2 .icons img {
    margin: 10px;
}





.menu a {
    position: relative;
}

.menu a:hover {
    /*  transform: scale(1.3); */
    z-index: 2;
}

.menu .submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(245, 248, 245);
    padding: 10px 20px;
    border-radius: 15px;
    width: 160px;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    /* display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 0px 0px 0px 20px;
    border-radius: 15px;
    width: 160px; */
}

.menu li:hover>.submenu {
    opacity: 1;
    visibility: visible;
    /* display: block; */
}

.menu .submenu li {
    margin: 10px 0;
}

.menu a:hover .submenu {
    transform: translateY(-10px);
}

/*
MAIN
*/
.posts {
    position: sticky;
    top: 0;

    background-color: rgb(245, 248, 245);
    border-radius: 30px;
    margin: 15px 0px 15px 0px;
    padding: 15px 44px 20px 65px;
    -webkit-box-shadow: 0px 11px 22px -19px rgba(34, 60, 80, 1);
    -moz-box-shadow: 0px 11px 22px -19px rgba(34, 60, 80, 1);
    box-shadow: 0px 11px 22px -19px rgba(34, 60, 80, 1);
}

.posts hr {
    margin: 13px 58px 13px 0px;
}

.posts h3 {
    text-align: center;
    margin: 12px 0 12px 0;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
}

.heading-all {
    background-color: white;
    padding: 16px 0;
    border-radius: 10px;
    text-align: center;

}

.content-all {
    background-color: white;
    /* padding: 16px 0; */
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;

}

.picture img {
    max-width: 100px !important;
    max-height: 100px !important;
    object-fit: cover !important;
}

.red,
.del {
    padding: 7px;
    text-align: center;
    transition: transform 0.3s ease;
}

.red a img,
.del a img {
    width: 27px;
}


.red:hover,
.del:hover {
    transform: scale(1.1);
    z-index: 2;
}

.heading {
    font-weight: 700;
}

.add-post div {
    margin: 5px 0 15px 0;
}


.add-post select {
    margin: 1rem 0;
    border: none;
}

textarea.form-control,
input.form-control,
col input.form-control {
    border: none;
}

.form-control[type="file"] {
    background-color: white;
    border: 1px solid #e3e3e3;
    color: #7a7a7a;
}


.add-post div button {
    margin: 2rem 0 0 0;
}

.error {
    color: rgb(255 44 44);
}

.error ul {
    list-style-type: none;
    margin: 0px 23px;
}

.form-label {
    margin: 0 0 0 13px;
}

.button-add {
    align-self: flex-end;
    margin-left: 69%;
}

.btn {
    background-color: rgb(251 251 251);
    border-radius: 10px;
    padding: 7px 60px 7px 60px;
    -webkit-box-shadow: 0px 6px 8px -3px rgba(34, 60, 80, 0.29);
    -moz-box-shadow: 0px 6px 8px -3px rgba(34, 60, 80, 0.29);
    box-shadow: 0px 6px 8px -3px rgba(34, 60, 80, 0.29);
    transition: transform 0.5s ease;
    font-weight: 700;
    margin-top: 28px;
}

.btn:hover {
    transform: scale(1.1);
    z-index: 2;
    border: none;
    background-color: rgb(251 251 251);
}



/*
FOOTER
*/

footer {
    background-color: rgb(245, 248, 245);
    margin: 0px 0px 0px 0px;
    border-radius: 30px 30px 0px 0px;
    -webkit-box-shadow: 0px 11px 22px -19px rgba(34, 60, 80, 1);
    -moz-box-shadow: 0px 11px 22px -19px rgba(34, 60, 80, 1);
    box-shadow: 0px 11px 22px -19px rgba(34, 60, 80, 1);
}

.footer-content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-logo img {
    height: 94px;
    width: 168px;
    cursor: pointer;
}

.footer-first_title {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.footer-first ul a {
    margin-left: 10%;
}

.footer-first ul a img {
    transition: transform 0.3s ease;
}

.footer-first ul a:hover img {
    transform: scale(1.3);
    z-index: 2;
}

.footer-fourth_title,
.footer-third_title,
.footer-second_title {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    text-align: center;
}

.footer-second_title {
    margin: 7px 0px 14px 0px;
}

.footer-second ul img {
    flex: 1;
    display: flex;
    justify-content: left;

}

.footer-third,
.footer-first,
.footer-second,
ul {
    padding-left: 0rem;
}

.footer-third ul li {
    list-style-type: none;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    text-align: center;
}

.footer-contacts img {
    margin: 8px 0px 8px 0px;
}

.footer-contacts p {
    margin: 10px 0px 10px 0px;
}

.footer-second ul {
    margin-left: 41px;
}

.col-4 {
    width: 28%;
}

hr {
    margin: 6px 58px 0px 0px;
    width: 100%;
}

.text-input,
.contact-input {
    margin-top: 10px;
}

.footer-third_title {
    margin: 10px 0px 10px 0px;
}

.footer-bottom {
    background-color: rgb(34, 55, 28);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


@media (max-width: 1200px) and (min-width: 992px) {
    .posts h3 {
        font-size: 21px;
    }

    .posts {
        padding: 12px 30px 20px 35px;
    }

    .heading-all {
        font-size: 13px;
    }

    .content-all {
        font-size: 12px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 933px;
    }

    .posts h3 {
        font-size: 18px;
    }

    .posts {
        padding: 12px 30px 20px 35px;
    }

    .heading-all {
        font-size: 13px;
    }

    .content-all {
        font-size: 12px;
    }
}

@media (max-width: 767px) {

    header ul {
        list-style-type: none;
        margin-bottom: 0rem;
        margin: 0 0 0 120px;
    }

    header ul li a {
        font-family: "Mulish", sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 14px;
    }

    .container,
    .container-md,
    .container-sm {
        max-width: 933px;
    }

    .posts h3 {
        font-size: 15px;
    }

    .posts {
        padding: 3px 28px 20px 29px;
    }

    .heading-all {
        font-size: 8px;
    }

    .content-all {
        font-size: 10px;
    }

    .red a img,
    .del a img {
        width: 16px;
    }
}